<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/forget-pwd.css">
    <title>Forget password</title>
</head>

<body>
    <header id="mainHeader" class="bg-info text-black p-3 mb-3">
        <div class="container">
            <div class="row">
                <h2 id="headerTitle">Forget Password Page</h2>
            </div>
        </div>
    </header>
   <div class="container">
    <div class="box">

    <form action="#" onsubmit="myFunction(event)">

        <label for="femail" class="form-label-email ">Enter your email id : </label>
        <input type="email" id="femail" name="femail" class="form-control-sm "  >
        
        <div class="form-inline"> 
         <input type="submit" id="submit" class="btn" value="Submit">

         </div>
    </form>
   
   </div>

</div>

    <script src ="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="../public/js/forget-pwd.js"></script>

</body>